body {
    background-color: #f5f7fc;
}

.container {
    margin-top: 2rem;
}

.bmi-jumbotron {
    text-align: center;
    background: linear-gradient(135deg, #4559b9 0%, #3d4465 100%);
    color: white;
    font-weight: 900;
    border-radius: 20px;
    padding: 2.4rem;
}

.bmi-chart {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 20px;
}

.input-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-header {
    background-color: #fff;
    text-align: center;
    border-radius: 20px 20px 0px 0px !important;
}

.card-body {
    background-color: #fbfbfd;
}

.card {
    height: 16rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.card-body {
    border-radius: 0px 0px 20px 20px;
}


.cardbody-bmi-calculation {
    text-align: end;
}

.card-bmi-info{
    text-align: center;
    padding-top: 4rem;
}

.btn-info {
    background-color: #4559b9;
    border-color: #4559b9;
}

.btn-info:hover {
    background-color: #3d4465;
    border-color: #3d4465;
}